body {
    padding: 60px;
}
#fun {
    text-align: center;
}
#fun h1 {
    width: 80px;
    margin: 0 auto 20px;
    border-bottom: 2px solid crimson;
    font-size: 34px;
    font-weight: bold;
    color: rgb(63, 20, 63);
}
#fun .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#fun .wrapper div {
    width: 400px;
}
#fun .wrapper div img {
    display: block;
    width: 100%;
}